
      {{#each this}}
<li class="country-list-item">
    <img width="50" height='30' src="{{flags.svg}}" alt="{{name.official}}">
    <p class="country-list-item-name">{{name.official}}</p>
</li>
    {{/each}}



